:root {
    --main-header-width: 100wh;
    --main-header-height: calc(35px - calc(var(--main-header-padding) * 2));
    --main-header-padding: 7px;
}

/* header */
#main-header {
    width: var(--main-header-width);
    height: var(--main-header-height);
    padding: var(--main-header-padding);
    max-height: 24px;
    background-color: #492A91FF;
}
#main-header .header-nav {
    width: 100%;
    height: 100%;
}
#main-header .header-nav .menu-item-list {
    display: inline-block;
    height: 100%;
    float: left;

    --program-menu-width: 30%;
    --date-menu-width: 10rem;
}
#main-header .header-nav .menu-item-list.system-menu {
    width: calc(100% - var(--program-menu-width) - var(--date-menu-width));
}
#main-header .header-nav .menu-item-list.program-menu {
    width: var(--program-menu-width);
}
#main-header .header-nav .menu-item-list.date-menu {
    width: var(--date-menu-width);
    float: right !important;
}
#main-header .header-nav .menu-item-list .menu-item {
    display: inline-block;
    float: left;
    width: auto;
    height: 100%;
    margin: 0 5px 0 5px;
    cursor: pointer;
}
#main-header .header-nav .menu-item-list .menu-item:hover {
    opacity: 0.5;
}
#main-header .header-nav .menu-item-list .menu-item.item-icon,
#main-header .header-nav .menu-item-list .menu-item.item-icon img{
    width: 20px;
    height: 20px;
}
#main-header .header-nav .menu-item-list .menu-item.item-text {
    width: auto;
    height: 100%;
    line-height: var(--main-header-height);
    color: #FFFFFF;
}